<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Members Area</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <h1 id="welcome"></h1>
    <img id="randomImage" src="" style="width:300px;" alt="Random Image"><br>
    <a href="/logout">Logout</a>

    <script>
        const username = "{{name}}";
        const imagePath = "/images/{{image}}";

        document.getElementById("welcome").textContent = "Welcome to the Members Area, " + username + "!";
        document.getElementById("randomImage").src = imagePath;
    </script>
</body>

</html>